body {
background-color: #DBF8E3;
color: black;
font-family: "Roboto",cursive;
}

h1 {
    border-style: dotted;
    border-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-color: white;
}

h1 {
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 50px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  display:run-in;
  margin-left: 0 auto;
  margin-right: 0 auto;
  width: 40%;
  padding:
}

#center_image {
    vertical-align: middle;
    padding: 0;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    text-align:center;
}
